doctype html
html(lang='en')
  head
    include /pug/csslibs.pug
    include /pug/customcss.pug
    title DDDW System Scripts
  body
    include nav.pug
    div(class='ui container')
      div(class='ui basic center aligned segment')
        h2(class='ui header') Scripts
        div(class='ui transparent left icon input')
          input(id='status' type='text' placeholder='Status')
          i(class='heartbeat icon')
        div(class='ui transparent left icon input')
          input(id='script' type='text' placeholder='Script')
          i(class='file text outline icon')
        div(class='ui transparent left icon input')
          input(id='path' type='text' placeholder='Path')
          i(class='folder open outline icon')
        div(class='ui transparent left icon input')
          input(id='state' type='text' placeholder='State')
          i(class='marker icon')
        table(id='scripts' class='ui very basic center aligned sortable table')
          thead
            tr
              th Script
              th Path
              th State
              th Actions
          tbody
            each script in scripts
              tr
                if script.status === 'Updated'
                  td(id='script' class='positive')=script.name
                else if script.status === 'Outdated'
                  td(id='script' class='warning')=script.name
                else if script.status === 'Failure'
                  td(id='script' class='error')=script.name
                else
                  td(id='script' class='none')=script.name
                td(id='path')=script.path
                td(id='state')=script.state
                td
                  i(id='srh' class='content icon' data-content='Script Run History' data-variation='small' data-position='top center' onclick='window.location.href="' + base_uri + script.sid + '/history"')

    include /pug/jslibs.pug
    include /pug/tablesort.pug
    script(src='/js/invoke-popup.js')
    script(src='/js/system/scripts.js')
