doctype html
html(lang='en')
  head
    include /pug/csslibs.pug
    include /pug/customcss.pug
    title DDDW System !{scriptName} History
  body
    include nav.pug
    div(class='ui container')
      div(class='ui basic center aligned segment')
        h2(class='ui header') !{scriptName} History
        table(id='history' class='ui very basic center aligned sortable table')
          thead
            tr
              th Hid
              th Start
              th End
              th Exec Type
              th Notes
          tbody
            each entry in history
              tr
                if entry.status === 'Updated'
                  td(class='positive')=entry.hid
                else if entry.status === 'Outdated'
                  td(class='warning')=entry.hid
                else
                  td(class='error')=entry.hid
                td=entry.start_time
                td=entry.end_time
                td=entry.exec_type
                td=entry.notes
    include /pug/jslibs.pug
    include /pug/tablesort.pug
    script(src='/js/invoke-popup.js')
