doctype html
html(lang='en')
  head
    include /pug/csslibs.pug
    include /pug/customcss.pug
    title DDDW System !{stateName} Tables
  body
    include nav.pug
    div(class='ui container')
      div(class='ui basic center aligned segment')
        h2(class='ui header') !{stateName} Tables
        div(class='ui four cards')
          each tbl in tables
            a(class='ui card' href=base_uri + '/' + tbl.table)
              div(class='content')
                div(class='header')=tbl.table
                div(class='meta')
                  i(class='wait icon')
                  | !{tbl.last_modified}
                div(class='description')
                  if tbl.status === 'Updated'
                    div(class='ui green header')=tbl.status
                  else if tbl.status === 'Outdated'
                    div(class='ui yellow header')=tbl.status
                  else
                    div(class='ui red header')=tbl.status
    include /pug/jslibs.pug
    script(src='/js/invoke-popup.js')
